{% extends "layouts/base.html" %}

{% block content %}
    <h2>Creación de cuenta de usuario</h2>
    {% if error_messages %}<p><strong>{{ error_messages }}</strong></p>{% endif %}
    <form action="{% url 'account:signup' %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}
        {% if request.GET.intercambio %}
            <input type="hidden" name="intercambio" value="{{ request.GET.intercambio }}">
        {% endif %}
        <input type="submit" value="Crear">
    </form>
    <p>Si ya tienes cuenta, <a href="

            {% url 'account:signin' %}{% if request.GET.intercambio %}?intercambio={{ request.GET.intercambio }}{% endif %}">inicia
        sesión</a></p>
{% endblock %}